spring.application.name=code-review-platform

spring.datasource.url=jdbc:postgresql://localhost:5432/aicode
spring.datasource.username=YOUR_DB_USERNAME
spring.datasource.password=YOUR_DB_PASSWORD

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

logging.level.root=INFO
logging.level.org.springframework=INFO
logging.level.com.aicode=DEBUG

logging.pattern.console=%d{yyyy-MM-dd HH:mm:ss} - %msg%n

spring.rabbitmq.host=localhost
spring.rabbitmq.port=5672
spring.rabbitmq.username=YOUR_RABBITMQ_USERNAME
spring.rabbitmq.password=YOUR_RABBITMQ_PASSWORD

JWT_SECRET_KEY=YOUR_JWT_SECRET_KEY

gemini.api.key=YOUR_GEMINI_API_KEY
gemini.api.url=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent

app.upload-dir=uploads
spring.servlet.multipart.max-file-size=10MB
spring.servlet.multipart.max-request-size=10MB

app.repository.temp-dir=temp-repositories

app.ai.max-chunk-size=20000
